div.view-workflow:hover {
    background-color: #dddd;
}

div.issue-info-items {
    border-top: 1px solid #dddd;
    border-left: 1px solid #dddd;
    border-right: 1px solid #dddd;
    border-bottom: none;
}

div.issue-info-items:last-child {
    border-bottom: 1px solid #dddd !important;
}