.btn:focus {
    box-shadow: none;
}

.issues-backlog-detail:last-child {
    border-bottom: none !important;
    padding: 5px 0
}

.dragIssue {
    opacity: 0;
}

div.epic-footer:hover {
    background-color: #dddd;
}

div.issues:last-child {
    border-bottom: 1px solid #dddd;
}
div.issue-info:hover button.setting-issue {
    visibility: visible !important;
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: -82.2%;
    top: 0;
}

.dropdown-menu>li:hover>.dropdown-submenu {
    display: block;
}