apiVersion: apps/v1
kind: Deployment
metadata:
  name: projectmanagement-depl
spec:
  replicas: 1
  selector: 
    matchLabels:
      app: projectmanagement
  template:
    metadata:   
      labels: 
        app: projectmanagement
    spec:
      containers:
        - name: projectmanagement
          image: longle2003/projectmanagement
          env:
            - name: JWT_KEY
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: jwt_key
            - name: NATS_URL
              value: "http://nats-srv:4222"
            - name: NATS_CLUSTER_ID
              value: "jiraproject"
            - name: NATS_CLIENT_ID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: MONGO_URL
              value: "mongodb://projectmanagement-mongo-srv:27017/projectmanagements"
---
apiVersion: v1
kind: Service
metadata:
  name: projectmanagement-srv
spec:
  selector: 
    app: projectmanagement
  ports:
    - name: projectmanagement
      protocol: TCP
      port: 4003
      targetPort: 4003