@import "../../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";

.e-list-text {
    width: 100%;
}

.e-text-content,
.e-list-parent {
    padding-left: 0 !important;
}

.e-list-item.e-hover .e-fullrow {
    background-color: transparent !important;
    border-color: transparent !important;
}

.e-appointment {
    height: 30px !important;
}

.e-appointment-details .template-wrap.not-expired {
    background-color: #E9F2FF;
    padding: 2px 3px;
    height: 30px;
    display: flex;
    align-items: center;
}

.e-appointment-details:hover .template-wrap.not-expired {
    background-color: #2684FF !important;
}

.e-appointment-details .template-wrap.expired {
    background-color: #FFECEA;
    padding: 2px 3px;
    height: 30px;
    display: flex;
    align-items: center;
}

.e-appointment-details:hover .template-wrap.expired {
    background-color: #FFD5D2 !important;
}

.e-appointment.e-lib.e-draggable {
    background-color: #E9F2FF;
    display: flex;
    align-items: center;
}


.edit-btn-close-calendar:focus {
    box-shadow: none;
}

.edit-btn-close-calendar:hover {
    background-color: #ddd !important;
}

.card-calendar {
    /* Add shadows to create the "card-calendar" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card-calender:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
